<link rel="stylesheet" href="/css/photo.css">
<div class="photo-list">
     <div class="item">
       <img src="https://api.neweb.top/bing.php?type=rand">
    </div>
    <div class="item">
        <img src="https://api.neweb.top/bing.php?type=rand">
    </div>
</div>
<script>
//    (function(){
//         fetch("https://cn.bing.com/cnhp/coverstory",{ 
//             method: 'get', 
//             headers: { 
//             "Content-type": "application/json; charset=UTF-8"
//             },
//             // body:  JSON.stringify({"c":"WallPaperAndroid","a":"getAppsByCategory","cid":6,"start":0,"count":100}),
//         }).then(function(data){
//             console.log(data)
//         }).catch(function(err){
//             console.log(err);
//         })
//     })();
</script>